.loginPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 10.1%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
.titleAndInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.loginTitle {
  font-size: x-large;
  font-weight: bold;
}
.loginButton {
  display: flex;
  align-self: center;
  background-color: rgb(4, 4, 185);
  color: white;
  font-size: large;
  cursor: pointer;
  padding: 10px;
}

.loginFailed {
  border: solid 1px white;
  border-radius: 10px;
  background-color: rgb(188, 58, 58);
  font-size: large;
  padding: 13px;
  padding-right: 103px;
}

.emailText,
.passwordText {
  display: flex;
  align-self: start;
  font-size: large;
  margin-bottom: 5px;
  margin-left: 10px;
}

.newToJobsphereRegister {
  font-size: large;
  color: rgb(4, 4, 185);
  cursor: pointer;
}

.loginImage {
  background-color: #f5f6f8;
  margin-top: 100px;
  background-color: #f5f6f8;
  margin-top: 108px;
  width: 35vw;
  height: 45vh;
  border-radius: 20px;
}
