.applicationDetailsAndApplyForJob {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.applyForJob {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  border: solid rgb(229, 231, 235) 2px;
  width: 50%;
  height: 90%;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  margin-top: 85px;
  height: 500px;
  position: sticky;
  top: 10px;
  padding: 20px;
  background: white;
  margin-right: 70px;
}

.submitButton {
  display: flex;
  align-self: center;
  background-color: #6e00be;
  color: white;
  font-size: large;
  cursor: pointer;
  padding: 5px;
}

.applicationDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 10px;
  padding: 7px;

}


.firstNameText,
.lastNameText,
.educationText
{
    display: flex;
    align-self: start;
    font-size: large;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .star{
    font-size: large;
    color: red;
  }

  .enterDetails{
    font-size:x-large;
  }


  .cvSection{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
    
  }

  .uploadButton {
    display: flex;
    align-self: center;
    background-color: #6e00be;
    color: white;
    
    cursor: pointer;
    padding: 5px;
  }

  .uploadYourCvText{
    display: flex;
    align-self: start;
    font-size: large;
    margin-bottom: 5px;
    margin-left: 10px;
    border-bottom: black solid 2px;
  }
