body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-bottom: solid 1px gray;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 0;
}
.logo {
  border-radius: 25px;
  width: 24px;
  height: 22px;
}

.headerPartOne,
.headerPartTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 130px;
}

.headerPartTwo {
  gap: 50px;
}

.title,
.jobsIcon {
  font-size: xx-large;
  color: #6e00be;
}

.registerIcon {
  font-size: x-large;
  cursor: pointer;
  background-color: #f0f4f8;
  color: rgb(252, 89, 18);
  font-weight: bold;
  border: rgba(229, 231, 235, 0.658);
}

.iconOfRegister {
  width: 25px;
  height: 23px;
  position: relative;
  top: 3px;
  right: 3px;
}

.loginIcon
 {
  font-size: x-large;
  cursor: pointer;
  background-color: #f0f4f8;
  color: rgb(4, 4, 185);
  border: rgba(229, 231, 235, 0) solid 2px;
}

.logout {
  font-size: x-large;
  cursor: pointer;
  background-color: #f0f4f8;
  color: #6e00be;
  border: rgba(229, 231, 235, 0) solid 2px;
}

.iconOfLogin {
  width: 25px;
  height: 23px;
  position: relative;
  top: 3px;
  right: 3px;
}

.jobsIcon {
  cursor: pointer;
}

.userProfile {
  display: flex;
  gap: 3px;
  font-size: xx-large;
  color: #6e00be;
  margin-right: 40px;
}

.userIcon {
  width: 28px;
  height: 35px;
}

.addJobSec {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.addJob {
  font-size: x-large;
  cursor: pointer;
  background-color: #f5f6f8;
  color: #6e00be;
  border: rgba(229, 231, 235, 0.658);
}

.addJobIcon {
  width: 22px;
  height: 36px;
  color: #6e00be;
}

.userInfo {
  cursor: pointer;
}
.iconOflogout {
  width: 27px;
  height: 24px;
  position: relative;
  top: 3px;
  left: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1d1934;
  color: white;
  padding: 5vh;
  position: relative;
  top: 14vh;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 12vh;
}

.footerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30vw;
}

.websiteLogo {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  align-self: center;
  align-items: center;
  position: relative;
  top: 7vh;
}

.websiteInfo,.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vh;
  position: relative;
  top: 7vh;
  font-size: large;
}


.contactsIcons{
  display: flex;
  flex-direction: row;
   gap: 1vw;
 
}

.facebookIcon,
.instagramIcon,
.linkedinIcon{
  width: 30%;
    height: 32px;

}

.emailInFooter,.phoneNumber,.copyRight{
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}
.emailIcon{
  width: 20px;
  height: 20px;
}
.copyRight{
  font-size: large;
}

