.App {
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-bottom: solid 1px gray;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 0;
}
.logo {
  border-radius: 25px;
  width: 24px;
  height: 22px;
}

.headerPartOne,
.headerPartTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 130px;
}

.headerPartTwo {
  gap: 50px;
}

.title,
.jobsIcon {
  font-size: xx-large;
  color: rgb(4, 4, 185);
}


.registerIcon {
  font-size: x-large;
  cursor: pointer;
  background-color: #F5F6F8;
  color: rgb(252, 89, 18);
  font-weight: bold;
  border: rgba(229, 231, 235, 0.658);

}

.iconOfRegister {
  width: 25px;
    height: 23px;
    position: relative;
    top: 3px;
    right: 3px;
}

.loginIcon,.logout {
  font-size: x-large;
  cursor: pointer;
  background-color: #F5F6F8;
  color: rgb(4, 4, 185);
  border: rgba(229, 231, 235, 0) solid 2px;

}



.iconOfLogin {
  width: 25px;
  height: 23px;
  position: relative;
  top: 3px;
  right: 3px;
}

.jobsIcon {
  cursor: pointer;
}


.userProfile {
  display: flex
;
  gap: 3px;
  font-size: xx-large;
  color: rgb(4, 4, 185);
  margin-right: 40px;
}

.userIcon {
  width: 28px;
  height: 35px;
}

.addJobSec{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.addJob{
  font-size: x-large;
  cursor: pointer;
  background-color: #F5F6F8;
  color: rgb(4, 4, 185);
  border: rgba(229, 231, 235, 0.658);


}

.addJobIcon{
  width: 22px;
  height: 36px;
  color: rgb(4, 4, 185);
}

.userInfo{
  cursor: pointer;
}
 .iconOflogout {
  width: 27px;
  height: 24px;
  position: relative;
  top: 3px;
  left: 2px;
}

